<a href="https://colab.research.google.com/github/nic4cio/cursos-LaCCAN/blob/main/Python_B%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Introdução ao python**
Link da apresentação: https://www.canva.com/design/DAFaHA7pfSI/ixJx1DveA7EniAygqPV52Q/view?utm_content=DAFaHA7pfSI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton  
Link do colab original: https://colab.research.google.com/drive/1d8pvLwn6OraxD9AsB9IPcxVlM6BXJRUY?usp=sharing

## Base de Python

### Olá mundo

Digite no campo abaixo:
```
print("Olá, mundo!")
```

### Comentários

In [ ]:
# Esta linha é um comentário

# Comentários são blocos de código que
# não são executados pelo computador

print('Esta linha de código será executada!')

#print('Esta linha de código não será executada')

In [ ]:
"""
Esse é um comentário de multiplas linhas que na realidade é uma docstring ou uma string multilinha
É util para documentar código mas a informação é processada e pode ser armazenada em uma variável
"""

### Variáveis e tipagem

#### Declarando variáveis
Python é uma linguagem de tipagem dinâmica    
E não tem uma palavra reservada para associar valores a variáveis como o ***var*** e ***let*** do java-script  
Apenas colocando o nome da variável igualdade e o valor já basta:
````py
numero = 100 #variável do tipo int
````

#### Tipos de variáveis unitárias
Apezar de não precisarmos escolher o tipo da variável ao declarar é necessário termos conhecimento dos tipos unitários, e são eles:
* String(str)
* inteiro(int)
* complexo(complex)
* Booleano(bool)

In [ ]:
# Tipo String (str)
texto = 'bolo de chocolate' # OBS: pode ser declarada com '' ou ""

# Tipo Inteiro (int)
numero_inteiro = 1

# Tipo decimal (float)
numero_real = 1.1 # Adiciona casas decimais e é discernido do inteiro pelo .

# Tipo Booleano
booleano = True # pode ser True ou False

##### Checando o tipo da variável:

In [ ]:
type(texto)

str

##### Mudando o conteúdo da variável e seu tipo

In [ ]:
valor = 'val'
print(valor)
print(type(valor))
# modificando o valor pra inteiro
valor = 10
print(valor)
print(type(valor))

# Abaixo nós fazemos um castin não modificando o valor da string mas sim seu tipo 
print(str(valor))
print(type(str(valor)))

val
<class 'str'>
10
<class 'int'>
10
<class 'str'>

O que acontece se tentarmos converter uma string não numérica em um inteiro?

#### Output simples de variáveis

##### Print simples

In [ ]:
# mostra o que é contido na variável nome
nome = "Danilo"
print(nome)

# mostra uma string(str) que seu conteúdo é nome
print("nome")

##### Interpolação de string

In [ ]:
print(f'olá {nome}, bem vindo')

#### Operações com variáveis unitárias
É possível realizar diversos tipos de operações em Python por exemplo soma, adição, multiplicação, divisão, etc

##### Soma

In [ ]:
# Declaração das variáveis inteiras a e b
a = 1
b = 2
print('A soma de a e b é igual a', a+b)

In [ ]:
# Declaração de uma variável do tipo decimal
a = 1.5

# É possível atribuir o valor de uma variável
# À outra do mesmo tipo
b = a
print('A soma de a e b é igual a', a+b)

In [ ]:
# É possível concatenar string
# Utilizando o operador de soma
palavra1 = 'Fim de semana é dia de'
palavra2 = '?????'

print(palavra1+palavra2) # Soma de duas Strings

###### O que você acha que acontece se você somar uma inteiro com uma string?

###### Observações

In [ ]:
x = 1
y = x

y += 4

# qual será o valor de x?
x

1

##### Multiplicação

In [ ]:
numero = 1
print(numero*5)

###### O que você acha que acontece se mutiplicarmos uma string?

##### divisão

In [ ]:
numero = 10
print(numero/5)

O que você acha que acontece se dividirmos uma string?

#### Entrada simples de variáveis

In [ ]:
# É possível receber uma informação de uma caixa de texto
# para isso utilizamos a função input()
entrada = input()

print(entrada)

In [ ]:
# Nós também podemos unir entradas
entrada1 = input() #lê uma string
entrada2 = input() #lê outra string

# O que acontece quando somamos strings?
print(entrada1+entrada2)

In [ ]:
# Para somarmos numerais(int(inteiros) ou float(reais))
# Precisamos converter a entrada para inteiro
# Para fazermos isso usamos a função com o nome do tipo de variável

entrada1 = input()
entrada1 = int(entrada1)

#ou converter diretamente
entrada2 = int(input())

print(entrada1 + entrada2)

### Condicionais

In [ ]:
#Executa algo se uma condição for verdadeira
condicao = True

if(condicao): # Se algo que estiver entre os parenteses for verdade a proxima linha é executada
  print("A linha é executada")

condicao2 = False

if(condicao2):#Se não for a linha não é executada
  print("A linha não é executada")

**Exemplo**

In [ ]:
faz_aniversario_hoje = False

if(faz_aniversario_hoje):
  print("parabéns")

###estrutura completa do if


```
if():

elif():
    
else:
```

### Expressões lógicas

In [ ]:
# As expressões lógicas servem para tomarmos decisões mais complexas

x = int(input())

if(1 == x):
  print('x e igual a 1')
elif(x >= 1):
  print('x é maior que 1')
elif(x != 1):
  print('x é diferente de 1')
else:
  print("x = ", x)

### Exemplos

In [ ]:
#Recebe a idade que você escrever
print("Qual é a sua idade?")
idade = int(input())

if(idade <= 19):
  print("você é Jovem")
elif((idade > 19) and (idade < 60)):
  print("você é Adulto")
elif(idade >= 60):
  print("você é Idoso")

### Repetições(Loops)

#### while
````
while(condição de parada):
  #Seu código identado
````

In [ ]:
#Repete uma parte do código enquanto a condição for verdadeira
i=0
while(i<5):
  print(i)
  i+=1

#### for 
````
for interador in interável:
  #Seu código identado
````

In [ ]:
for i in range(5):
  print(i)

In [ ]:
lista = [1,2,3,4,5,6]

for i in lista:
  print(i)

#### Funções
````
def funcao():
  #Seu código identado
  return
````

In [ ]:
def mostrar(variavel):
  print(variavel)
  return

mostrar(2)

In [ ]:
def somar(a, b):
  return a+b

somar(1,2)

In [ ]:
#soma de string
entrada = input()
entrada2 = input()
print(somar(entrada, entrada2))

#soma de inteiros
entrada = input()
entrada2 = input()
print(somar(int(entrada), int(entrada2)))

### Exercício
Crie uma função que subtrai 2 numeros e em seguida mostre seu resultado

In [ ]:
def subtraction(num1, num2):
  return num1 - num2

print(subtraction(10, 5))

5

### Estruturas de dados básicas

#### Lista

In [ ]:
lista = [1,2,3,4,5,6]
lista

In [ ]:
lista.append(7)
lista

In [ ]:
lista.pop()
lista

#### Tupla

In [ ]:
tupla = ('nome', 'Maria')
tupla

In [ ]:
tupla[1] = 'João'

### Dicionário

In [ ]:
dicionario = {
    'chave':'valor',
    'lista' : [1,2,3,4,5,6]

}
dicionario

In [ ]:
dicionario['lista']

In [ ]:
dicionario.keys()

In [ ]:
dicionario.values()

### Exercício prático
Considerando os inteiros **a** e **b**, o operador **%** é utilizado para calcular o resto da divisão entre esses dois números. A operação **a%b** computa o resto da divisão de **a** por **b**. Para qualquer número **x**, se **x** é par, então o resto da divisão de **x** por 2 é igual a 0, isto é, **(x%2) == 0**. Se **x** é ímpar, então **(x%2) == 1**.

Sabendo que **n** é um número intero, implemente um loop que mostra apenas os números pares no intervalo de 1 até n.

In [ ]:
def resto(n):
  i = 1
  lista = []
  while(i < n):
    if(i % 2 == 0):
      print(i)
      lista.append(i)
    i += 1

  return lista

print(resto(6))

2
4
[2, 4]

### Desafio
Considere 3 números inteiros: **a**, **b** e **c**.
Crie uma função que receba os três valores e os coloque em ordem crescente ( do menor para o maior)

## Paradigmas de programação

### Paradigma funcional

#### Labmda: funções anônimas
    
    lambda x: operações

In [ ]:
fun = lambda x: x * 2
fun(2)

##### Filter

In [ ]:
a = [1, 2, 3, 4, 5, 6]
list(filter(lambda x: x % 2 == 0, a))

#### Map

    map(funcao, interável)

In [ ]:
lista = [1,2,3,4]

x = map(lambda x: x + 1, lista)
x

Eita

In [ ]:
print(x)

<map object at 0x7f99513dc700>

UE, pq não foi?

In [ ]:
list(x)

[2, 3, 4, 5]

Converta todos os números da lista a baixo para string, usando map e lambda

In [ ]:
lista = [1,2,3,4,8,16,32,46]

### Orientação a objetos

Classes

In [ ]:
class Funcionario():
  def __init__(self, nome, cargo, salario):
    self.nome = nome
    self.cargo = cargo
    self.salario = salario
  def __str__(self):
    return f'nome = {self.nome}\ncargo = {self.cargo}\nsalario = {self.salario}'

Herança

In [ ]:
class Vendedor(Funcionario):
  def __init__(self, nome, cargo, salario, comissao):
    super().__init__(nome, cargo, salario)
    self.comissao = comissao

In [ ]:
rapaz = Funcionario(nome="Rapaz da Silva", cargo="Serviços gerais", salario= 1500)
print(rapaz)

In [ ]:
moca = Vendedor(nome="Rapaz da Silva", cargo="Serviços gerais", salario=1500, comissao=15)
print(moca)

Pq o campo comissao não apreceu? Faça sua mágica e tente fazer com que ele apareça!

## Bibliotecas

### Biblioteca Pandas!

In [ ]:
import pandas as pd

#### Criando um DataFrame

In [ ]:
dataframe = pd.DataFrame({'id': [1,2,3,4,5,6],
                          'nomes' : ['Maria', 'José', 'Pedro', 'João', 'Marcia', 'Zé']})
dataframe

   id   nomes
0   1   Maria
1   2    José
2   3   Pedro
3   4    João
4   5  Marcia
5   6      Zé

In [ ]:
dataframe_2 = pd.DataFrame({'id': [1,2,3,4,5],
                          'notas' : [10,8,3,4,7]})
dataframe_2

   id  notas
0   1     10
1   2      8
2   3      3
3   4      4
4   5      7

#### Filtro

In [ ]:
df_teste = dataframe[dataframe['id'] >= 3]
df_teste

   id   nomes
2   3   Pedro
3   4    João
4   5  Marcia
5   6      Zé

Crie um novo data frame somendo com id impares

In [ ]:
df_impar = dataframe[dataframe['id'] % 2 != 0]
df_impar

   id   nomes
0   1   Maria
2   3   Pedro
4   5  Marcia

#### Unindo DFs

##### Merge

![join-or-merge-in-python-pandas-1.png]()

In [ ]:
df_merge = dataframe.merge(dataframe_2, on= 'id', how= 'inner')
df_merge

   id   nomes  notas
0   1   Maria     10
1   2    José      8
2   3   Pedro      3
3   4    João      4
4   5  Marcia      7

In [ ]:
df_merge = dataframe.merge(dataframe_2, on= 'id', how= 'outer')
df_merge

   id   nomes  notas
0   1   Maria   10.0
1   2    José    8.0
2   3   Pedro    3.0
3   4    João    4.0
4   5  Marcia    7.0
5   6      Zé    NaN

Tente usar o 'left' ou o 'right'

In [ ]:
df_merge = dataframe.merge(dataframe_2, on= 'id', how= 'left')
df_merge

   id   nomes  notas
0   1   Maria   10.0
1   2    José    8.0
2   3   Pedro    3.0
3   4    João    4.0
4   5  Marcia    7.0
5   6      Zé    NaN

##### Concat

In [ ]:
dataframe_3 = pd.DataFrame({'id': [6,7,8,9,10],
                          'nomes' : ['Danilo', 'Elias', 'Thalia', 'Helena', 'Danilo']})

In [ ]:
df_concat = pd.concat([dataframe, dataframe_3])
df_concat

#### Carregando dados

In [ ]:
df = pd.read_csv('https://github.com/EliasNsilva/Dados-curso-de-verao/blob/main/base_ENEM_AL.csv?raw=true')
df

,Unnamed: 0,NU_INSCRICAO,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,...,SG_UF_PROVA,NU_NOTA_REDACAO,TP_STATUS_REDACAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,IN_TREINEIRO,TP_LINGUA,NOTA_ENEN
0,0,190001336520,2019.0,Messias,AL,19.0,1.0,Branca,Colônia Leopoldina,AL,...,AL,480.0,1.0,525.9,390.0,378.6,378.9,NAO,ESPANHOL,430.68
1,1,190001336521,2019.0,Satuba,AL,18.0,1.0,Pardo,Maceió,AL,...,AL,640.0,1.0,438.1,552.4,537.6,513.7,NAO,INGLES,536.36
2,2,190001336522,2019.0,Maceió,AL,21.0,1.0,Pardo,Maceió,AL,...,AL,780.0,1.0,494.5,519.3,529.0,496.7,NAO,INGLES,563.90
3,3,190001336523,2019.0,Porto Calvo,AL,19.0,1.0,Pardo,Recife,PE,...,AL,580.0,1.0,439.6,425.8,519.9,423.8,NAO,ESPANHOL,477.82
4,4,190001336524,2019.0,São José da Tapera,AL,19.0,1.0,Branca,São José da Tapera,AL,...,AL,300.0,1.0,413.6,483.0,504.3,417.2,NAO,INGLES,423.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64683,64683,190006119957,2019.0,Maceió,AL,16.0,1.0,Branca,Jandira,SP,...,AL,540.0,1.0,373.5,465.0,449.7,524.9,SIM,ESPANHOL,470.62
64684,64684,190006119959,2019.0,Jequiá da Praia,AL,18.0,1.0,Pardo,Maceió,AL,...,AL,580.0,1.0,539.4,458.8,531.9,652.1,NAO,INGLES,552.44
64685,64685,190006119960,2019.0,Maceió,AL,16.0,1.0,Branca,Maceió,AL,...,AL,720.0,1.0,501.4,521.7,534.8,580.4,NAO,ESPANHOL,571.66
64686,64686,190006119962,2019.0,Cajueiro,AL,19.0,1.0,Pardo,Cajueiro,AL,...,AL,620.0,1.0,416.8,539.7,539.1,643.4,NAO,INGLES,551.80
64687,64687,190006119964,2019.0,Flexeiras,AL,20.0,1.0,Pardo,Flexeiras,AL,...,AL,540.0,1.0,390.8,454.7,507.6,441.4,NAO,INGLES,466.90

#### Informações sobre os dados

In [ ]:
df.describe()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,NU_IDADE,TP_ESTADO_CIVIL,TP_ST_CONCLUSAO,TP_ENSINO,CO_ESCOLA,NU_NOTA_REDACAO,TP_STATUS_REDACAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NOTA_ENEN
count,64688.000000,6.468800e+04,64688.0,64688.000000,64688.000000,64688.000000,39870.000000,1.376000e+04,64688.000000,64688.0,64688.000000,64688.000000,64688.000000,64688.000000,64688.000000
mean,32343.500000,1.900033e+11,2019.0,21.798046,1.088734,1.493971,1.005794,2.707711e+07,585.978234,1.0,460.451540,490.256626,506.793696,502.240855,509.144190
std,18673.961444,1.364414e+06,0.0,6.793155,0.434115,0.690495,0.075897,2.440359e+05,150.601994,0.0,70.338466,76.865636,61.749094,101.022527,74.170751
min,0.000000,1.900013e+11,2019.0,13.000000,0.000000,1.000000,1.000000,1.503589e+07,40.000000,1.0,327.900000,315.900000,323.400000,359.000000,318.440000
25%,16171.750000,1.900023e+11,2019.0,18.000000,1.000000,1.000000,1.000000,2.702027e+07,500.000000,1.0,406.300000,431.900000,468.200000,423.000000,455.200000
50%,32343.500000,1.900034e+11,2019.0,19.000000,1.000000,1.000000,1.000000,2.703678e+07,580.000000,1.0,450.500000,488.400000,510.400000,477.500000,497.220000
75%,48515.250000,1.900044e+11,2019.0,23.000000,1.000000,2.000000,1.000000,2.704783e+07,660.000000,1.0,507.600000,546.400000,549.800000,564.300000,553.040000
max,64687.000000,1.900061e+11,2019.0,79.000000,4.000000,4.000000,2.000000,4.208118e+07,1000.000000,1.0,790.600000,772.600000,758.900000,967.000000,796.140000

#### Máximo e minimo

In [ ]:
df['NU_NOTA_REDACAO'].max()

1000.0

In [ ]:
df['NU_NOTA_REDACAO'].min()

40.0

#### Agrupando dados

In [ ]:
df_group = df.groupby(by='NO_MUNICIPIO_RESIDENCIA', as_index=False).mean()
df_group

,NO_MUNICIPIO_RESIDENCIA,Unnamed: 0,NU_INSCRICAO,NU_ANO,NU_IDADE,TP_ESTADO_CIVIL,TP_ST_CONCLUSAO,TP_ENSINO,CO_ESCOLA,NU_NOTA_REDACAO,TP_STATUS_REDACAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NOTA_ENEN
0,Anadia,29698.977860,1.900031e+11,2019.0,20.376384,1.029520,1.498155,1.000000,2.705305e+07,592.841328,1.0,446.842804,473.960517,487.839114,492.557934,498.808339
1,Arapiraca,31931.531429,1.900033e+11,2019.0,22.019320,1.122498,1.469131,1.006763,2.705106e+07,596.866863,1.0,468.553031,500.693098,516.327943,519.335657,520.355318
2,Atalaia,31696.286538,1.900033e+11,2019.0,22.040385,1.065385,1.446154,1.007673,2.705031e+07,555.423077,1.0,433.432308,462.730385,485.135962,467.812308,480.906808
3,Barra de Santo Antônio,29747.982249,1.900032e+11,2019.0,21.508876,1.088757,1.319527,1.000000,2.704192e+07,529.822485,1.0,441.814201,463.442012,489.712426,469.573964,478.873018
4,Barra de São Miguel,28596.389381,1.900031e+11,2019.0,20.743363,1.035398,1.637168,1.000000,2.712178e+07,570.796460,1.0,454.795575,486.783186,504.446018,487.246903,500.813628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Teotônio Vilela,30095.252480,1.900032e+11,2019.0,20.567178,1.045987,1.413886,1.002389,2.712925e+07,596.862038,1.0,446.634175,470.307665,495.539585,479.644905,497.797674
98,Traipu,33865.301370,1.900034e+11,2019.0,21.479452,1.019178,1.400000,1.003704,2.705781e+07,581.260274,1.0,442.707671,471.664658,487.196438,482.834795,493.132767
99,União dos Palmares,31597.223388,1.900033e+11,2019.0,21.324588,1.079460,1.416042,1.008368,2.703421e+07,564.347826,1.0,440.832684,471.559295,493.140105,472.963268,488.568636
100,Viçosa,32366.857664,1.900033e+11,2019.0,21.824818,1.076642,1.427007,1.010390,2.703031e+07,559.306569,1.0,439.654015,472.007482,487.363869,469.567701,485.579927
101,Água Branca,31598.667598,1.900033e+11,2019.0,21.349162,1.064246,1.460894,1.003876,2.700117e+07,550.279330,1.0,439.112011,470.490782,489.053073,481.231844,486.033408

Crie um novo dataframe com groupby usando outra coluna e outro método

In [ ]:
df_group = df.groupby(by='NU_NOTA_REDACAO', as_index=False).mean()
df_group

,NU_NOTA_REDACAO,Unnamed: 0,NU_INSCRICAO,NU_ANO,NU_IDADE,TP_ESTADO_CIVIL,TP_ST_CONCLUSAO,TP_ENSINO,CO_ESCOLA,TP_STATUS_REDACAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NOTA_ENEN
0,40.0,30282.000000,1.900032e+11,2019.0,36.500000,1.000000,1.000000,NaN,NaN,1.0,391.200000,367.900000,384.550000,461.850000,329.100000
1,60.0,51920.000000,1.900046e+11,2019.0,20.000000,1.000000,3.000000,NaN,NaN,1.0,396.600000,432.900000,355.500000,389.800000,326.960000
2,80.0,26369.000000,1.900029e+11,2019.0,22.000000,1.000000,1.000000,1.000000,NaN,1.0,386.300000,425.200000,345.000000,544.500000,356.200000
3,100.0,43723.000000,1.900040e+11,2019.0,26.500000,1.000000,1.500000,NaN,2.722557e+07,1.0,373.550000,348.050000,381.100000,447.050000,329.950000
4,120.0,36131.500000,1.900035e+11,2019.0,23.833333,1.000000,1.833333,1.000000,2.703402e+07,1.0,405.433333,387.650000,406.333333,424.233333,348.730000
5,140.0,34386.875000,1.900036e+11,2019.0,34.625000,1.125000,1.250000,1.000000,2.713509e+07,1.0,417.600000,430.562500,452.175000,434.462500,374.960000
6,160.0,33160.111111,1.900034e+11,2019.0,25.722222,1.222222,1.611111,1.000000,2.701737e+07,1.0,402.538889,417.111111,410.783333,403.766667,358.840000
7,180.0,31094.952381,1.900032e+11,2019.0,25.047619,1.285714,1.380952,1.000000,2.705244e+07,1.0,409.990476,420.452381,416.819048,421.380952,369.728571
8,200.0,29833.269231,1.900031e+11,2019.0,25.250000,1.269231,1.596154,1.034483,2.702521e+07,1.0,412.232692,410.776923,424.198077,432.067308,375.855000
9,220.0,32203.500000,1.900033e+11,2019.0,26.191667,1.291667,1.450000,1.000000,2.703966e+07,1.0,411.380833,425.716667,429.707500,431.764167,383.713833
10,240.0,36138.624113,1.900036e+11,2019.0,24.769504,1.127660,1.418440,1.005814,2.705840e+07,1.0,413.013121,425.219858,439.231560,432.616667,390.016241
11,260.0,34062.710183,1.900035e+11,2019.0,24.681462,1.172324,1.467363,1.016327,2.710766e+07,1.0,416.216971,428.518538,445.927676,436.524021,397.437441
12,280.0,34977.990937,1.900035e+11,2019.0,23.584592,1.167674,1.477341,1.011765,2.705793e+07,1.0,415.454834,431.989275,451.346677,442.616465,404.281450
13,300.0,34350.179632,1.900035e+11,2019.0,22.766620,1.117397,1.514851,1.012315,2.705912e+07,1.0,423.439745,443.706082,463.485149,455.408345,417.207864
14,320.0,34401.658559,1.900035e+11,2019.0,22.847521,1.101964,1.515435,1.016442,2.710265e+07,1.0,422.153134,444.334144,465.378485,454.266978,421.226548
15,340.0,33191.329670,1.900034e+11,2019.0,22.656899,1.105006,1.532357,1.003929,2.704675e+07,1.0,424.411722,442.129060,464.974725,454.622589,425.227619
16,360.0,33783.699003,1.900034e+11,2019.0,22.689030,1.081596,1.519492,1.004367,2.702154e+07,1.0,422.411967,439.647235,459.225295,450.594923,426.375884
17,380.0,34236.408797,1.900035e+11,2019.0,23.322122,1.121604,1.468305,1.012500,2.703972e+07,1.0,420.696507,437.681113,459.186546,447.819405,429.076714
18,400.0,32829.539505,1.900034e+11,2019.0,23.171588,1.131684,1.454908,1.010256,2.705463e+07,1.0,422.882043,439.014844,459.642378,447.343655,433.776584
19,420.0,33472.330136,1.900034e+11,2019.0,23.206235,1.131095,1.462030,1.006427,2.706007e+07,1.0,422.233733,439.934452,462.388010,449.910711,438.893381
20,440.0,33170.044522,1.900034e+11,2019.0,23.392196,1.136068,1.398199,1.005650,2.705682e+07,1.0,425.440270,446.636268,467.448224,450.881841,446.081321
21,460.0,33285.960965,1.900034e+11,2019.0,22.882456,1.122807,1.434211,1.004982,2.706021e+07,1.0,429.269737,449.773509,473.739211,456.191404,453.794772
22,480.0,33374.573949,1.900034e+11,2019.0,22.999679,1.129933,1.429901,1.003498,2.706033e+07,1.0,432.328200,458.019923,480.736381,462.889092,462.794719
23,500.0,33571.738780,1.900034e+11,2019.0,23.211738,1.125048,1.411968,1.008696,2.709855e+07,1.0,436.031530,463.060836,483.010625,466.974223,469.815443
24,520.0,33162.530247,1.900034e+11,2019.0,22.777904,1.114740,1.441352,1.008025,2.706786e+07,1.0,436.675092,464.500966,488.627095,467.901079,475.540846
25,540.0,33479.899101,1.900034e+11,2019.0,22.713250,1.124094,1.448826,1.006458,2.705896e+07,1.0,442.275790,470.673471,492.788084,474.872717,484.122012
26,560.0,32830.458411,1.900034e+11,2019.0,22.352624,1.100809,1.444099,1.008780,2.708040e+07,1.0,447.787534,478.249990,499.723377,480.530492,493.258278
27,580.0,32953.406588,1.900034e+11,2019.0,22.142374,1.106498,1.479016,1.006378,2.706727e+07,1.0,452.292757,483.806205,505.066471,487.880618,501.809210
28,600.0,32660.687335,1.900033e+11,2019.0,21.869909,1.094630,1.501520,1.006061,2.706684e+07,1.0,457.049909,490.976616,511.770719,495.396292,511.038707
29,620.0,32246.119263,1.900033e+11,2019.0,21.475637,1.069688,1.513314,1.004076,2.707323e+07,1.0,464.788782,499.657365,518.285042,504.756006,521.497439
30,640.0,31985.336393,1.900033e+11,2019.0,21.140065,1.058928,1.553450,1.003810,2.707414e+07,1.0,468.246224,505.223482,522.774682,511.321646,529.513207
31,660.0,32425.437245,1.900033e+11,2019.0,20.835070,1.062981,1.589488,1.004474,2.708355e+07,1.0,475.134164,510.537925,526.710603,521.757997,538.828138
32,680.0,31145.508189,1.900032e+11,2019.0,20.456397,1.062860,1.573705,1.005069,2.711176e+07,1.0,478.892740,513.652811,528.188535,525.763081,545.299433
33,700.0,31432.617574,1.900033e+11,2019.0,20.329827,1.053837,1.593441,1.001003,2.709535e+07,1.0,486.686262,523.798948,535.718812,539.665099,557.173824
34,720.0,31032.893358,1.900032e+11,2019.0,20.251676,1.044485,1.575868,1.000999,2.707605e+07,1.0,491.363193,529.017428,540.008531,548.248873,565.727605
35,740.0,30768.830142,1.900032e+11,2019.0,19.823480,1.033306,1.593672,1.004121,2.709104e+07,1.0,494.223564,531.305579,540.638052,552.772523,571.787943
36,760.0,30349.923318,1.900032e+11,2019.0,19.945227,1.028951,1.588419,1.001302,2.709386e+07,1.0,501.074335,538.670266,546.435368,558.733959,580.982786
37,780.0,30596.452099,1.900032e+11,2019.0,19.848224,1.011841,1.572659,1.000000,2.708807e+07,1.0,509.571259,545.321313,549.907427,572.053283,591.370657
38,800.0,29941.338360,1.900031e+11,2019.0,19.659755,1.038643,1.574929,1.004594,2.708042e+07,1.0,513.354571,548.604053,551.329689,579.266258,598.510914
39,820.0,30238.273427,1.900032e+11,2019.0,19.485237,1.032092,1.614891,1.009281,2.711466e+07,1.0,513.714121,550.624775,554.316560,579.361874,603.603466
40,840.0,29892.071503,1.900031e+11,2019.0,19.439378,1.018653,1.524352,1.003670,2.711290e+07,1.0,523.903316,560.499896,560.984974,596.694093,616.416456
41,860.0,28940.013100,1.900031e+11,2019.0,19.443959,1.030568,1.532751,1.002674,2.709818e+07,1.0,529.144105,564.326346,562.020524,607.560116,624.610218
42,880.0,28104.366114,1.900030e+11,2019.0,19.107820,1.003555,1.531991,1.000000,2.709842e+07,1.0,537.598104,570.389929,564.709834,620.116706,634.562915
43,900.0,29271.379939,1.900031e+11,2019.0,19.411854,1.041033,1.483283,1.002778,2.710177e+07,1.0,546.689362,581.915653,571.494377,636.845897,647.389058
44,920.0,28293.482467,1.900030e+11,2019.0,19.461911,1.026602,1.453446,1.002358,2.712349e+07,1.0,558.088634,592.043168,577.446675,655.662273,660.648150
45,940.0,28327.868800,1.900030e+11,2019.0,19.225600,1.009600,1.422400,1.003279,2.713701e+07,1.0,570.761920,600.334880,584.321120,669.824480,673.048480
46,960.0,27494.871314,1.900030e+11,2019.0,19.383378,1.002681,1.402145,1.000000,2.711859e+07,1.0,583.894102,613.005630,593.604290,700.885255,690.277855
47,980.0,28823.214815,1.900030e+11,2019.0,19.533333,0.985185,1.414815,1.000000,2.715410e+07,1.0,593.282222,622.921481,603.020000,713.096296,702.464000
48,1000.0,27559.000000,1.900030e+11,2019.0,22.000000,1.000000,1.000000,1.000000,NaN,1.0,582.700000,656.850000,588.750000,721.250000,709.910000

#### Função apply

Arredondando todos os valores de um coluna

In [ ]:
df['NU_NOTA_REDACAO'].apply(lambda x: round(x))

0        480
1        640
2        780
3        580
4        300
        ...
64683    540
64684    580
64685    720
64686    620
64687    540
Name: NU_NOTA_REDACAO, Length: 64688, dtype: int64

Divida todos os valores da coluna 'NU_NOTA_REDACAO' por 2

In [ ]:
df['NU_NOTA_REDACAO'].apply(lambda x: (x / 2))

0        240.0
1        320.0
2        390.0
3        290.0
4        150.0
         ...
64683    270.0
64684    290.0
64685    360.0
64686    310.0
64687    270.0
Name: NU_NOTA_REDACAO, Length: 64688, dtype: float64

# Desafio!

Crie um sistema de alocação de arquivos, nesse sistema deve ser possivel alocar por um determinado periodo.

Implementar:
* Criação de recursos
* Atualização 
* Remoção de recursos 
* Alocação de recursos

Obs: é obrigatório o uso de classes e não é necessário o uso de interface gráfica

In [ ]:
class Arquivo:

  def __init__(self, nome, extensao = 'txt'):
    self.__nome = nome
    self.__extensao = '.'+extensao

  @property
  def nome(self):
    return self.__nome
  
  @nome.setter
  def nome(self, new_name):
    self.__nome = new_name

  @property
  def extensao(self):
    return self.__extensao
  
  @extensao.setter
  def extensao(self, new_extension):
    self.__extension = '.'+new_extension

  def __str__(self):
    return f'arquivo: {self.nome}{self.extensao}'

arquivo1 = Arquivo('arquivo','pdf')
arquivo1.nome = 'sh'
print(arquivo1)

arquivo: sh.pdf